.Home {
  display: flex;
  flex-direction: row;
  width: 80vw;
  min-width: 400px;
  max-width: 1000px;
  justify-content: space-between;
  height: 80vh;
  align-items: center;
  
}

.SelectPaper{
    width: 45%;
}
.HomeIcon{
    margin-right: 0;
    height: 15vh;
    width: 15vw;
    
}
.Blank{
    height: 8vw;
}